body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}


/* CLASSI DEI FONT */
.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.container {
    display: flex;
    justify-content: space-between;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background: #222;
    color:#fff;
}

.logo{
    padding: 0px 20px;
    padding-right: 60px;
    
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu p{
    padding: 0px 40px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.menu p:hover{
    color: #6b5ba7;
}

.block-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: green;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0px 30px;
    box-shadow: none;
    transition: box-shadow 0.2s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(16, 107, 16, 1);
}

.circle-box {
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background-color: #000;
    margin: 0px 30px;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
}

.circle img{
    width: 15px;
    height: 15px;
}

#moon {
    display: none;
    color: #fff;
}

.cover{
    display:flex;
    justify-content:center;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.img-cover{
    width: 100%;
    height: 90vh;
    position: absolute;
}

.schermo_scuro{
    position: absolute;
    background:rgba(0, 0, 0,0.5);
    width: 100%;
    height: 90vh;
    z-index:1;
}

.card{
    background-color:white;
    border-radius: 10px;
    z-index:999;
    transform: translateY(30%);
    opacity: 1;
    width: 30%;
    height:70%;
    animation: card 1.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s;
    transition: transform 1s;
}

.card.act{
    animation-name: cardRotate;
    animation-play-state: running;
}

@keyframes cardRotate{
    0%{
        transform: rotateY(0deg), translateY(100%);
    }
    100%{
        transform: rotateY(360deg), translateY(100%);
    }
}

@keyframes card{
    0%{
       transform: translateY(100%);
       opacity:0.4;
       
    }
    100%{
        transform: translateY(30%);
        opacity: 1;
    }
}

.contenuto{
    padding: 0px 30px;
    text-align: center;
    animation: contenuto 2s;
    transition: color 0.8s;
}

.title{
    padding-top: 40px;
    animation: contenuto 2s;
    transform: translateY(0%);
    transition: color 0.8s;
}

@keyframes contenuto {

    0%{
        transform: translateY(100%); 
    }
}

/*https://stackoverflow.com/questions/45272409/js-manipulate-css-3d-rotating-animation*/